<h1> List of revised companies </h1>
<% @companies.each do |company| %>
<dl>
  <dt> <%= company.name %> </dt>
  <dt> Status: <%= company.status %> </dt>
  <% if company.denied? %>
    <dt> Denial feedback: <%= company.feedback.body %> </dt>
  <% end %>
</dl>
<% end %>